[build]
builder = "nixpacks"

[deploy]
startCommand = "php artisan config:cache && php artisan route:cache && php -S 0.0.0.0:$PORT -t public"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
